entrypoint="index.html"
hidden=[".config"]
modules = ["python-3.11", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000
